@model personapi_dotnet.Models.Entities.Persona

@{
    ViewData["Title"] = "Eliminar Persona";
}

<div class="container py-4">
    <div class="card fade-in">
        <div class="card-header">
            <h3 class="mb-0 text-gradient">¿Estás seguro de que deseas eliminar esta persona?</h3>
        </div>
        <div class="card-body">
            <dl class="row mb-4">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Apellido)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Apellido)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Genero)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Genero)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Edad)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Edad)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Cc" />
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-action="Index" class="btn btn-outline-primary">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>
